.sidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}

.sidebarChat:hover {
    background-color: rgb(210, 208, 208);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.sidebarChat__info>h3 {
    font-size: 15px;
    margin-bottom: 8px;
}

.sidebarChat__info {
    margin-left: 15px;
}